{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/nmc-recordings.myshopify.com/products/configure/194561/edit
{% endcomment %}
{% if product.metafields.custom_fields["test"] != blank %}
  <div class="custom-field custom-field__test custom-field__type--text-list">
    <h3 class="custom-field--title">test</h3>
    <div class="custom-field--value">  
      {{ product.metafields.custom_fields["test"] }}
    </div>
  </div>
{% endif %}