<ul class="menu" id="SiteNav">
    {% for link in linklists[linklist].links %}
        {%- assign child_list_handle = link.title | handleize -%}
        {% if link.links != blank %}
            <li class="menu-item menu-item--collapsed {% if link.active %} menu-item--active-trail{% endif %}" data-has-dropdowns>
                <button aria-controls="SiteNavLabel-{{ child_list_handle }}" aria-expanded="false" class="menu-item menu-item__link" type="button">
                    <span class="site-nav__label">{{ link.title | escape }}</span>
                    {% include 'icon-chevron-down' %}
                </button>
            </li>
        {% else %}
            <li class="menu-item">
                <a href="{{ link.url }}" class="menu-item menu-item__link" {% if link.current %} aria-current="page" {% endif %}>
                    <span class="site-nav__label">{{ link.title | escape }}</span>
                </a>
            </li>
        {% endif %}
    {% endfor %}
</ul>
