/**
 * ----------------------
 * Un.titled
 * Atoms - Buttons
 * ----------------------
 */

/**
 * Config
 **/

@mixin btn {
  @include font-bold;
  cursor: pointer;
  padding: 18px ($bump * 0.8);
  color: $c-white;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  text-align-last: center;
  transition: all 0.2s $easing;

  &:hover {
    @include btn-hover;
  }

  span {
    transform: skew(15deg);
  }

  @include media('<xs') {
    padding-left: $bump/2;
    padding-right: $bump/2;
  }
}

@mixin btn-alt {
  color: $c-primary;

  &:hover {
    color: $c-primary;
  }
}

@mixin btn-hover {
  text-decoration: none;
  color: $c-off-white;
}

@mixin btn-secondary-hover {
  background-color: $c-white;
  border: 1px $c-primary solid;
  color: $c-primary;
}

@mixin btn-secondary {
  display: inline-flex;
  align-items: center;
  transform: skew(-15deg) scaleX(1);
  background-color: $c-primary;

  @include media('<md') {
    display: flex;
    justify-content: center;
    transform: skew(-15deg) scaleX(0.975);
  }

  &:hover {
    @include btn-secondary-hover;
  }
}

@mixin btn-secondary-alt {
  background-color: $c-white;
  border: 1px $c-primary solid;
  color: $c-primary;

  &:hover {
    @include btn-secondary-alt-hover;
  }
}

@mixin btn-secondary-alt-hover {
  background-color: $c-primary;
  border: 1px $c-white solid;
  color: $c-white;
}

@mixin btn-icon {
  svg {
    height: 100%;
    display: inline-block;
    margin: 0 0 0 $bump/2;
    position: relative;
    fill: #e5f1f9;
  }

  &:hover {
    svg {
      fill: $c-primary;
    }
  }
}

@mixin arrow {
  position: relative;

  &:after {
    content: '';
    @include bg-img(15px);
    position: relative;
    display: inline-block;

    height: 0;
    width: 0;
    top: 100%;
    z-index: -30;
    opacity: 0;
    transform: none;

    transition: all 0.2s cubic-bezier(0.3, 0.65, 0.72, 0.63);
  }

  &:hover {
    &:after {
      height: 15px;
      width: 15px;
      z-index: 10;
      opacity: 1;
      top: 0;
      right: -10px;
      transform: rotate(-90deg);
    }
  }
}

@mixin arrow-white {
  &:hover {
    &:after {
      background-image: url('../icon/icon-chevron-white.svg');
    }
  }
}

@mixin arrow-blue {
  &:hover {
    &:after {
      background-image: url('../icon/icon-chevron-blue.svg');
    }
  }
}

@mixin btn-blue {
  display: inline-block;
  background: $c-off-white;
  color: $c-black;
  padding: 10px;
  &:hover {
    @include btn-secondary-alt-hover;
  }
}

@mixin no-skew {
  transform: none;
  span {
    transform: none;
  }
}

/**
 * Styles
 **/

.a-btn {
  @include btn;

  &--blue {
    @include btn-blue;
  }

  &--alt {
    @include btn-alt;
    @include arrow;
    @include arrow-blue;
    &:after {
      position: absolute;
    }
    &:hover {
      &:after {
        right: -20px;
      }
    }
  }
  &--btn-icon {
    @include btn-icon;
  }
  &__secondary {
    @include btn-secondary;
    @include arrow;
    @include arrow-blue;

    &--alt {
      @include btn-secondary-alt;
      @include arrow;
      @include arrow-white;
    }
  }

  &__no-skew {
    @include no-skew;
  }

  &--conditional-anchors {
    @include font-bold;
    cursor: pointer;
    position: relative;
    line-height: 1;
    text-decoration: none;
    padding: 0 0 ($bump/3);

    &:after {
      content: '';
      height: 4px;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      background: $c-grey;
    }

    &:before {
      content: '';
      height: 4px;
      width: 0%;
      position: absolute;
      bottom: 0;
      left: 0;
      background: $c-blue;
      z-index: 10;
      transition: all 0.4s $easing;
    }

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;

      &:before {
        content: '';
        height: 4px;
        width: 50%;
        position: absolute;
        bottom: 0;
        left: 0;
        background: $c-blue;
        z-index: 10;
      }
    }
  }
}
