/**
 * ----------------------
 * Un.titled
 * Config - Typography
 * ----------------------
 */

/**
 * Font family
 */

$font-body: 'vartalight';
$font-bold: 'vartabold';
$font-regular: 'vartaregular';
$font-title: $font-bold;

/**
 * Font Scale
 * Set a ratio from mobile up to container width.
 * All units must be of the same type.
 * https://www.modularscale.com/
 */
$modularscale: (
  base: 1em,
  ratio: 1.618,
  20em: (
    ratio: 1.25,
  ),
  115.5em: (
    ratio: 1.618,
  ),
);

/**
 * Font Size
 */
$font-base-size: 100%; //Set document root size to base font size

/**
 * Line height
 */
$line-body: 1.5;

/**
 * Custom fonts
 */
$font-dir: '../font';

@font-face {
  font-family: 'vartaregular';
  src: url('#{$font-dir}/varta-variablefont_wght-webfont.woff2') format('woff2'), url('#{$font-dir}/varta-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'vartamedium';
  src: url('#{$font-dir}/varta-variablefont_wght-webfont.woff2') format('woff2'), url('#{$font-dir}/varta-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'vartalight';
  src: url('#{$font-dir}/varta-variablefont_wght-webfont.woff2') format('woff2'), url('#{$font-dir}/varta-variablefont_wght-webfont.woff') format('woff');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'vartasemibold';
  src: url('#{$font-dir}/varta-variablefont_wght-webfont.woff2') format('woff2'), url('#{$font-dir}/varta-variablefont_wght-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'vartabold';
  src: url('#{$font-dir}/varta-variablefont_wght-webfont.woff2') format('woff2'), url('#{$font-dir}/varta-variablefont_wght-webfont.woff') format('woff');
  font-weight: bolder;
  font-style: normal;
}

// @font-face {
//   font-family: 'vartalight';
//   src: url('#{$font-dir}/varta-light.ttf') format('ttf');
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'vartaregular';
//   src: url('../font/Varta-Regular.ttf') format('ttf');
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'vartamedium';
//   src: url('#{$font-dir}/varta-medium.ttf') format('ttf');
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'vartabold';
//   src: url('#{$font-dir}/varta-bold.ttf') format('ttf');
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'vartasemibold';
//   src: url('#{$font-dir}/varta-semibold.ttf') format('ttf');
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }
