/**
 * ----------------------
 * Un.titled
 * Organisms - Footer
 * ----------------------
 */

.o-footer {
  transition: opacity 0.1s $easing;
  .ct__homepage & {
    margin: -200px 0 0;

    @include media('<sm') {
      margin: -100px 0 0;
    }
  }

  .ct__composer &,
  .ct__article &,
  .ct__listing-page & {
    margin: -200px 0 0;

    @include media('<lg') {
      margin: -120px 0 0;
    }

    @include media('<sm') {
      margin: -80px 0 0;
    }
  }

  [data-search='true'] & {
    opacity: 0.2;
  }

  [data-search='false'] & {
    opacity: 1;
  }

  &__inner {
    background-color: $c-primary;
    color: $c-white;
    font-family: $font-regular;
    @include top-tilt;
  }

  &__row {
    padding: $bump 0 $bump/2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    @include media('<sm') {
      flex-direction: column;
    }

    &:first-of-type {
      padding: $bump * 3 0 $bump * 2;
      justify-content: flex-end;

      @include media('<tab') {
        justify-content: center;
      }

      @include media('<sm') {
        justify-content: center;
        padding: $bump/1.5 0 $bump;
      }
    }
  }

  &__friends-get-more {
    justify-content: end;
  }

  &__partners {
    padding: 0;
    align-self: center;

    @include media('<lg') {
      align-items: stretch;
    }
    @include media('<md') {
      flex-direction: column;
    }

    .m-block {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      @include media('<lg') {
        flex-wrap: wrap;
        padding: $bump 0;
      }

      @include media('<md') {
        justify-content: center;
      }

      @include media('<md') {
        padding: $bump 0;
        flex-direction: column;
      }

      &:last-of-type {
        margin-left: $bump;
        padding-left: $bump;

        @include media('<md') {
          margin-left: 0;
          padding: $bump/2;
        }
      }

      a {
        margin-right: $bump;
        display: block;

        @include media('<md') {
          margin: 0 0 $bump;
        }

        &:last-of-type {
          margin-right: 0;

          @include media('<md') {
            margin-bottom: 0;
          }
        }

        &:hover {
          opacity: 0.7;
        }

        img {
          max-height: 40px;
          width: auto;
          display: block;
        }

        svg {
          height: 90px;
          width: auto;
          display: block;
        }
      }
    }
  }

  &__top {
    display: grid;
    grid-template-columns: 40% 1fr 1fr;
    gap: $bump * 1.5;
    align-items: flex-start;

    p {
      font-size: 17px;
    }

    @include media('<lg') {
      grid-template-columns: 48% 1fr 1fr;
    }

    @include media('<md') {
      grid-template-columns: 1fr;
      gap: 0;
    }
  }

  &__top,
  &__middle,
  &__bottom {
    &__row {
      display: flex;
      flex-wrap: wrap;

      @include media('<md') {
        flex-direction: column;
        justify-content: center;
      }

      &:first-of-type {
        @include media('<md') {
          padding: $bump/1.5 0 0;
        }
      }
    }
  }

  &__middle,
  &__bottom {
    &__row {
      justify-content: space-between;
    }
  }

  &__middle {
    border-top: 1px $c-white solid;
  }

  &__bottom {
    background-color: $c-white;
    color: $c-black;
    text-align: center;

    p {
      margin-bottom: 5px;
      @include media('<md') {
        margin-bottom: $bump * 1.5;
      }
    }
  }

  &__col {
    &__stretch {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-self: stretch;
    }

    .m-social-links {
      svg {
        margin: 0 ($bump/2) 0 0;
      }
    }

    &__heading {
      font-size: 26px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 29px;
    }

    h4,
    h3 {
      font-size: 26px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 29px;
    }

    &__icons {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: $bump;

      @include media('<md') {
        grid-template-columns: 1fr;
      }
    }

    @include media('<md') {
      margin: 0;

      &:last-of-type {
        margin: ($bump) 0 0 0;
      }
    }
  }

  &__hr {
    display: none;

    @include media('<md') {
      display: block;
      border: 1px solid $c-white;
      border-width: 0 0 1px 0;
      margin: 1.5rem -15px;
    }
  }

  .m-join-the-mailing-list {
    p {
      @include font-title;
      font-size: 26px;
      line-height: 1.8;

      @include media('<md') {
        font-size: 20px;
      }
    }

    a {
      @include btn;
      @include btn-secondary;
      @include font-title;
      @include arrow;
      @include arrow-blue;
      justify-content: center;
      font-size: 16px;
      margin: 16px 0 0 27px;
      border: 1px $c-white solid;
      width: 153px;

      @include media('<md') {
        margin: 16px 0 0 0;
        width: 100%;
      }
    }
  }

  .m-friends-get-more {
    a {
      @include btn;
      @include btn-secondary;
      @include font-title;
      @include arrow;
      @include arrow-blue;
      font-size: 16px;
      line-height: 1.4;
      border: 1px $c-white solid;
    }
  }
}
