/**
 * ----------------------
 * Un.titled
 * Molecules - Main nav
 * ----------------------
 */

.m-main-nav {
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
  flex-grow: 1;

  @include media('<1600px') {
    padding: 0 0 0 ($bump * 2);
  }

  @include media('<1100px') {
    padding: 0 0 0 ($bump * 1.25);
  }

  ul.menu {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;

    .menu-item {
      margin: 20px 0;

      &__link {
        @include btn;
        @include btn-alt;
        @include underline-animation;
        margin: 0 0 0 ($bump * 2);

        @include media('<1460px') {
          margin: 0 0 0 ($bump * 1);
        }

        @include media('<sm') {
          color: $c-white;
          &:hover {
            color: $c-off-white;
          }
        }
      }
    }

    &.o-header__middle__btn__mobile,
    .o-header__middle__btn__mobile {
      display: none;
      @include media('<md') {
        display: none;
        [data-nav='open'] & {
          display: flex;
          align-items: center;
        }
      }
    }

    @include media('<lg') {
      justify-content: center;
    }

    @include media('<sm') {
      flex-direction: column;
    }
  }

  @include media('<md') {
    display: none;
    flex-direction: row-reverse;
  }

  @include media('<sm') {
    position: fixed;
    top: 0;
    left: 0;
    padding: $bump/2;
    height: 100vh;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
    background-color: $c-primary;
    overflow: scroll;
    z-index: 10;
  }

  [data-nav='open'] & {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

body[data-nav='open'] {
  overflow: hidden;
}
